# LaTeX output
*.pdf
*.aux
*.toc
*.log
*.out

# C Build objects
*.o

projects/labs/lab1/tries.fdb_latexmk

projects/labs/lab1/tries.fls

projects/labs/lab1/tries.synctex.gz

projects/labs/lab2/maze.fdb_latexmk

projects/labs/lab2/maze.fls

projects/labs/lab2/maze.synctex.gz

projects/practicals/01/a/radix.fdb_latexmk

projects/practicals/01/a/radix.fls

projects/practicals/01/a/radix.synctex.gz

writtens/02/base.fdb_latexmk

writtens/02/base.fls

writtens/02/base.synctex.gz

code/dsa.a

code/util.a

*.c#

*.c~

*.h~
